img.no-access-img {
  height: 150px;
  margin-top: 250px;
}

.no-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20%;
}

.notification-list {
  max-height: 355px;
  overflow-y: auto;
}

/* Style the scrollbar track (background of the scrollbar) */
.notification-list::-webkit-scrollbar {
  width: 5px;
}

.notification-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.notification-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.notification-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.row-not-clicked {
  background-color: #eceaea;
}

.row-clicked {
  background-color: inherit;
}

.account-summary-container {
  background-color: #ebeef1;

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.first-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.second-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.currency-converter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.three-dots .dropdown-toggle::after {
  display: none;
}

.three-dots .btn-link {
  color: #000;
  font-size: 1.5rem;
  padding: 0;
  line-height: 1;
}

.content {
  display: flex;
  margin-bottom: 20px;
  gap: 5%;
  flex-direction: row;
}

.account-details {
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
}

.header-account-details {
  display: flex;
  flex-direction: row;
  gap: 50%;
  width: 100%;
  padding: 10px;
}

.account-info-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
}

.account-info-content span:nth-child(1) {
  color: #005ac1;
  font-weight: bold;
  font-size: 20px;
}

.account-info-content span:nth-child(3) {
  margin-top: 10px;
}

.my-balance-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
}

.head-my-balance {
  display: flex;
  gap: 15%;
  flex-direction: row;
}

.head-my-balance span:nth-child(1) {
  color: #005ac1;
  font-weight: bold;
  font-size: 18px;
}

.head-my-balance span:nth-child(3) {
  color: #88cd8a;
  font-weight: bold;
  font-size: 18px;
}

.btn-withdraw-deposit {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: center;
  padding: 50px;
  gap: 10%;
}

.balance-chart {
  width: 65%;
}

.transaction-section {
  margin-top: 20px;
}

.transaction-filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;
}

.date-range {
  display: flex;
  gap: 20px;
}

.search-input {
  width: 200px;
}

.pos-rep .p-datatable-wrapper {
  height: calc(100vh - 350px);
}

.no-data-table table {
  width: 100%;
  border: white;
}

.no-data-table thead th {
  background-color: #e1f0ff;
  color: black;
  font-weight: bold;
  border-bottom: none;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1.2rem;
}
.no-data-table tbody {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.no-data-icon {
  height: 18rem;
  margin-top: 50px;
  opacity: 0.5;
}
.r-data-icon {
  height: 18rem;
  opacity: 0.5;
}
.r-no-data {
  height: calc(100vh - 25rem) !important;
  overflow-y: auto !important;
}

.no-data-label {
  color: #c1d8ef;
  text-align: center;
  position: relative;
  right: 5px;
  margin-top: 8px;
}

.role-table-lists {
  height: 200px;
}
.role-table-lists thead {
  z-index: 99;
}

.role-table-lists tbody {
  overflow-y: auto;
}

.role-table-lists th {
  background-color: #e1f0ff;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500px;
}
.role-table-lists tr td {
  border-bottom: 1px solid lightgray;
  padding: 15px;
}
.role-table-lists .module-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.role-table-lists input[type="checkbox"] {
  transform: scale(1.2);
  margin: 0;
}

.role-table-lists .sub-module-title {
  padding-left: 20px;
}

.module-title {
  font-weight: 600;
  font-size: 1.1rem;
}
